<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Edit #<%= dis_mong.name %></h3>
    <form class="" action="/<%= dis_mong.id %>" method="post">
      <p>Name: <input type="text" name="name" value="<%= dis_mong.name %>"></p>
      <p>Weight: <input type="text" name="weight" value="<%= dis_mong.weight %>"></p>
      <p>Color: <input type="text" name="color" value="<%= dis_mong.color  %>"></p>
      <input type="submit" value="Edit Mongoose Here">
    </form>
    <a href="/">Home</a>
  </body>
</html>
